body, html {
    font-family: "Raleway", "Montserrat", sans-serif;
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}
[type="file"] + label {
    background: #f15d22;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: .5rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}

[type="file"] + label.btn-2 {
    background-color: #452684;
    overflow: hidden;
    letter-spacing: .8px;
}

[type="file"] + label.btn-2:hover {
    background-color: #424242;
}
[type="file"] + label.btn-2:hover::before {
    right: 87%;
}
